Software/trunk/Obj/mega168_1.9V/
Software/trunk/Obj/mega168_3.3V/
Software/trunk/Obj/mega168_strip_grid/
Software/trunk/Obj/mega328/
Software/trunk/Obj/mega328_1.9V/
Software/trunk/Obj/mega328_3.3V/
Software/trunk/Obj/mega328_2X16_menu/
Software/trunk/Obj/mega328_GM328/
Software/trunk/Obj/mega328_MK-328/
Software/trunk/Obj/mega328_PCF8812/
Software/trunk/Obj/mega328_PCF8814/
Software/trunk/Obj/mega328_T3_T4_st7565/
Software/trunk/Obj/mega328_T3_v2_st7565/
Software/trunk/Obj/mega328_T4_v2_st7565/
Software/trunk/Obj/mega328_T5_st7565/
Software/trunk/Obj/mega328_color_kit/
Software/trunk/Obj/mega328_dogm/
Software/trunk/Obj/mega328_fish8840/
Software/trunk/Obj/mega328_fish8840_OC/
Software/trunk/Obj/mega328_ssd1306I2C/
Software/trunk/Obj/mega328_ssd1306SPI/
Software/trunk/Obj/mega328_ssd1327I2C/
Software/trunk/Obj/mega328_ssd1327SPI/
Software/trunk/Obj/mega328_st7108/
Software/trunk/Obj/mega328_st7565/
Software/trunk/Obj/mega328_st7565_kit/
Software/trunk/Obj/mega328_st7920/
Software/trunk/Obj/mega328_strip_grid/
Software/trunk/Obj/mega328_strip_grid_dogm/
Software/trunk/Obj/mega328_wei_st7565/
Software/trunk/Obj/mega644_LCD2004/
Software/trunk/Obj/mega644_T7-Mod/
Software/trunk/Obj/mega644_hiland_m644/
Software/trunk/Obj/mega644_ssd1306I2C/
Software/trunk/Obj/mega8/
Software/trunk/Obj/mega8_strip_grid/
Software/trunk/Obj/default/
Software/trunk/Obj/TransistorTester/
Software/trunk/Obj/arduino_uno/
Software/trunk/Obj/arduino_m2560/
Software/trunk/Obj/ILI9163/
Software/trunk/Obj/ST7735/
Doku/trunk/pdftex/FIG/BJTexample.fig
Doku/trunk/pdftex/FIG/TransistorTesterVC1.png
Doku/trunk/pdftex/FIG/ssd1327_UNO.fig
Doku/trunk/pdftex/FIG/ssd1327_intern.fig
Doku/trunk/pdftex/FIG/t644adapter.fig
Doku/trunk/pdftex/FIG/t644tester1.fig
Doku/trunk/pdftex/FIG/t644tester2m.fig
Doku/trunk/pdftex/FIG/t644tester2z1.fig
Doku/trunk/pdftex/FIG/t644tester_2.fig
Doku/trunk/pdftex/FIG/ttester2.fig
Doku/trunk/pdftex/FIG/zener_sep.fig
Doku/trunk/pdftex/english/*.aux
Doku/trunk/pdftex/german/*.aux
Doku/trunk/pdftex/russian/*.aux
Software/trunk/diff_all
Software/trunk/dogm163.zip
Software/trunk/fonts/24x32update_bitmaps.h
Software/trunk/fonts/6x8_vertikal_LSB_1thin.h
Software/trunk/fonts/6x8_vertikal_LSB_2.h
Software/trunk/fonts/7x12_vertikal_LSB_1thin.h
Software/trunk/fonts/icon24x32leer.fig
Software/trunk/fonts/icon24x32rcl.fig
Software/trunk/fonts/suche
Software/trunk/mega328_wei_st7565/TTactual.eep
Software/trunk/mega328_wei_st7565/TTactual.hex
Software/trunk/mega644_dogm204/
Software/trunk/mega644_dogm204_I2C/
Software/trunk/mega644_dogm204_serial/
Software/trunk/sampling_xtal.zip
Software/trunk/sampling_xtal_255_127.c
Software/trunk/FixCheck.c
Software/trunk/SamplingGen1.c
Software/trunk/arduino_uno/RF_module
Software/trunk/fonts/10x16_vertikal_LSB_2.h
Software/trunk/fonts/5x8_vertikal_LSB_2.h
Software/trunk/fonts/icon24x32.fig
Software/trunk/mega644_LCD2004/Reschke644
Software/trunk/mega644_LCD2004/tester_Port-belegung.txt
Software/trunk/mk_frequency_tab.c
